# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

# Minecraft Options because mine are wack and im not letting you experiencethat.
run/options.txt

# Files from Forge MDK
forge*changelog.txt
